<div class=" form-div">
  <div class="form-container container-fluid" [ngStyle]="{'direction':currentLanguage=='en'?'ltr':'rtl'}">
    <div class="row go-back-row  px-2">
      <i [ngClass]="{
        'fa-arrow-left-long mr-auto': currentLanguage === 'en',
        'fa-arrow-right-long ml-auto': currentLanguage === 'ar'
      }" class="fa-solid " style="color: black; font-size: 2em; font-weight: 600;"></i>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <!-- Class ID and Inputter in the same row -->
      <div class="row mt-3">
        <div class="col-2">
          <label>{{'Class ID' | transloco}}</label>
          <input class="form-control" formControlName="ID" type="text" />
        </div>
        <div class="col-10">
          <label>{{'Inputter' | transloco}}</label>
          <input class="form-control" formControlName="inputter" type="text" />
        </div>
      </div>

      <!-- Students Section -->
      <div formArrayName="student">
        <div class="student-section mt-4" *ngFor="let studentGroup of getStudentsArray().controls; let i = index"
          [formGroupName]="i">
          <!-- Student Number and Name -->
          <div class="row">
            <div class="col-12 mt-2 mb-4">
              <button class="btn-danger" style="width: 5rem;" (click)="removeStudent(i)">X</button>
            </div>
            <div class="col-2">
              <label>{{'Student Number' | transloco}}</label>
              <input class="form-control" formControlName="studentNo" type="text" />
            </div>
            <div class="col-10">
              <label>{{'Student Name' | transloco}}</label>
              <input class="form-control" formControlName="studentName" type="text" />
            </div>
          </div>

          <!-- Contact Details -->
          <div formArrayName="student$contactDetail">
            <div class="row " *ngFor="let contactGroup of getContactDetailArray(i).controls; let j = index"
              [formGroupName]="j">
              <div class="col-5">
                <label>{{'Contact Number' | transloco}}</label>
                <input class="form-control" formControlName="contactNumber" type="text" />
              </div>
              <div class="col-5">
                <label>{{'Relation' | transloco}}</label>
                <input class="form-control" formControlName="relation" type="text" />
              </div>

              <div class="col-2 mt-4 pt-1">
                <div>
                  <button class="btn-danger" (click)="removeContactDetail(i, j)">
                    <p style="font-size: 12px;">{{'Remove Contact' |
                      transloco}}</p>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Add Contact Button -->
          <div class="row mt-3">
            <div class="col-12 d-flex justify-content-center">
              <button class="btn-success" (click)="addContactDetail(i)">{{'Add Contact Detail' | transloco}}</button>
            </div>
          </div>

          <div class="row hr-line my-4" style="border:1px solid rgba(128, 128, 128, 0.282); height:1px"></div>
        </div>
      </div>

      <!-- Add Student Button -->
      <div class="row mt-4  mb-5">
        <div class="col-6 d-flex justify-content-start align-items-center">
          <button class="btn-success" (click)="addStudent()">{{'Add Student' | transloco}}</button>
        </div>
        <div class="col-6 mb-4">
          <button class="btn-primary" type="submit">{{'Submit' | transloco}}</button>
        </div>
      </div>
    </form>
  </div>
</div>