<div class="container-fluid">
  <div class="row go-back-row  px-2">
    <i [ngClass]="{
      'fa-arrow-left-long mr-auto': currentLanguage === 'en',
      'fa-arrow-right-long ml-auto': currentLanguage === 'ar'
    }" class="fa-solid " style="color: black ; font-size: 2em; font-weight: 600;"></i>

  </div>
  <div class="row three-bigIcons-row d-flex justify-content-center  px-2 position-relative mb-4"
    [ngStyle]="{ 'direction': currentLanguage==='en' ? 'rtl' : 'ltr' }">
    <div class="lines-between-bigIcons d-none d-lg-flex position-absolute"
      style="right: 27em; top: 35%; transform: translateY(-50%); ">
      <div class="circle">
      </div>
      <div class="line mt-2">
      </div>
      <div class="circle">
      </div>
    </div>

    <div class="col-lg-3 col-md-4   d-flex justify-content-center flex-column align-items-center">
      <div class="big-icon-container d-flex justify-content-center align-items-center">
        <i class="fa-regular fa-circle-check" style="color: white;font-size: 2.2em;"></i>
      </div>
      <div class="word-under-icon  mt-2">
        <p class="">{{'الموافقة علي التحليل المضاف'|transloco}}</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-4   d-flex justify-content-center flex-column align-items-center ">
      <div class="big-icon-container d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-magnifying-glass" style="color: white;font-size: 2.2em;"></i>
      </div>
      <div class="word-under-icon  mt-2">
        <p class="">{{'معايير الأهمية لتحليل اثر الأعمال'|transloco}}</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-4   d-flex justify-content-center flex-column align-items-center">
      <div class="big-icon-container d-flex justify-content-center align-items-center">
        <i class="fa-regular fa-file-lines" style="color: white;font-size: 2.2em;"></i>
      </div>
      <div class="word-under-icon  mt-2">
        <p class="">{{'تفاصيل تحليل اثر الأعمال'|transloco}}</p>
      </div>
    </div>
    <div class="lines-between-bigIcons d-none d-lg-flex position-absolute"
      style="left: 27em; top: 35%; transform: translateY(-50%); ">
      <div class="circle">
      </div>
      <div class="line mt-2">
      </div>
      <div class="circle">
      </div>
    </div>
  </div>
  <div class="approval-document-row d-flex justify-content-center mt-1">
    <div class="approval-document-div d-flex flex-column px-4 ">
      <div class="row-approval-doc-title d-flex mt-2"
        [ngStyle]="{ 'direction': currentLanguage==='en' ? 'ltr' : 'rtl' }">
        <div class="icon">
          <i class="fa-solid fa-file-signature" style="font-size: 30px;"></i>
        </div>
        <div class="title mx-3 pt-1">
          <p style="font-size: 22px; font-weight: 600;">

            {{'أستمارة الموافقة'|transloco}}</p>
        </div>
      </div>
      <div class="line-under-title mt-3" style="width: 100%; height: .2em;background-color: #FCFCFC;">

      </div>
      <div class="row enter-details-title mt-2 px-5" style="direction: rtl; font-size: 20px;"
        [ngStyle]="{ 'direction': currentLanguage==='en' ? 'ltr' : 'rtl' }">

        {{'قم بإدخال تفاصيل استمارة الموافقة'|transloco}}</div>
      <div class="row first-input-autor px-5 mt-3" [ngStyle]="{ 'direction': currentLanguage==='en' ? 'ltr' : 'rtl' }">
        <div class="col-lg-6" [ngStyle]="{ 'text-align': currentLanguage==='en' ? 'left' : 'right' }">
          <label class="mb-0" for="">*{{'المؤلف'|transloco}}</label>
          <select class="form-control pl-5" style="height: 2em;" aria-label="Search">
            <option value="" disabled selected>{{'اختر'|transloco}}</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
          </select>

        </div>
        <div class="col-lg-6" [ngStyle]="{ 'text-align': currentLanguage==='en' ? 'left' : 'right' }">
          <label class="mb-0" for="">*{{'المراجع'|transloco}}</label>
          <select class="form-control pl-5" style="height: 2em;" aria-label="Search">
            <option value="" disabled selected>{{'اختر'|transloco}}</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
          </select>

        </div>
      </div>
      <div class="row second-input px-5 mt-4" [ngStyle]="{ 'direction': currentLanguage==='en' ? 'ltr' : 'rtl' }">
        <div class="col-lg-6" [ngStyle]="{ 'text-align': currentLanguage==='en' ? 'left' : 'right' }">
          <label class="mb-0" for="">*{{'الوافق'|transloco}}</label>
          <select class="form-control pl-5" style="height: 2em;" aria-label="Search">
            <option value="" disabled selected>{{'اختر'|transloco}}</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
          </select>

        </div>
        <div class="col-lg-6" [ngStyle]="{ 'text-align': currentLanguage==='en' ? 'left' : 'right' }">
          <label class="mb-0" for="">*{{'الحالة'|transloco}}</label>
          <select class="form-control pl-5" style="height: 2em;" aria-label="Search">
            <option value="" disabled selected>{{'اختر'|transloco}}</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
          </select>

        </div>
      </div>
      <div class="row third-input px-5 mt-4 mb-5" [ngStyle]="{ 'direction': currentLanguage==='en' ? 'ltr' : 'rtl' }">
        <div class="col-lg-3" [ngStyle]="{ 'text-align': currentLanguage==='en' ? 'left' : 'right' }">
          <label class="mb-0" for="">*{{'تاريخ المراجعة الأخيرة'|transloco}}</label>
          <input class="form-control pl-5" style="height: 2em;" type="date" aria-label="Search">


        </div>
        <div class="col-lg-3" [ngStyle]="{ 'text-align': currentLanguage==='en' ? 'left' : 'right' }">
          <label class="mb-0" for="">*{{'تاريخ المراجعة القادم'|transloco}}</label>
          <input class="form-control pl-5" style="height: 2em;" type="date" aria-label="Search">

        </div>
      </div>
      <div class="row  row-for-buttons mt-auto mb-4 mt-5 mx-2"
        [ngStyle]="{ 'direction': currentLanguage==='en' ? 'ltr' : 'rtl' }">
        <div class="col-md-6 d-flex   px-0">
          <button class="save" (click)="trySweetalert()">{{'حفظ'|transloco}}</button>
        </div>
        <div class="col-md-6 d-flex justify-content-end px-0">
          <button class="draft mx-1" (click)="trySweetalert()">
            {{'حفظ كمسودة'|transloco}}</button>
          <button class="cancel mx-1" (click)="trySweetalert()">{{'إلغاء'|transloco}}</button>
        </div>
      </div>
    </div>

  </div>
</div>