.three-bigIcons-row {
  p {
    color: var(--primary-color);
  }
}

p {
  margin: 0;
}

.fa-solid {
  cursor: pointer;
}

.big-icon-container {
  border-radius: 100%;
  width: 4em;
  height: 4em;
  background-color: var(--primary-color);
}

.circle {
  border-radius: 100%;
  width: 1.2em;
  height: 1.2em;
  background-color: var(--primary-color);
}

.line {
  width: 10em;
  height: .2em;
  background-color: var(--primary-color);
}

.approval-document-div {
  background-color: white;
  box-shadow: 0px 0px 2px 1px rgb(198, 198, 198);
  border-radius: 10px;
  // height: 33em;
  //  height: 45em;
  height: fit-content;
  width: 80em;

}

button {
  border-radius: 5px;
  padding: .5em 2.4em;


  &.save {
    background-color: var(--primary-color);
    color: white;
    border: none;
    transition: all .05s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

  }

  &.draft {
    border-color: var(--primary-color);
    color: var(--primary-color);
    background-color: transparent;
    border-style: solid;

    &:hover {
      background-color: var(--primary-color);
      color: white;
    }
  }

  &.cancel {
    border-color: red;
    color: red;
    background-color: transparent;
    border-style: solid;

    &:hover {
      background-color: red;
      color: white;
    }
  }

  ;
}