<div class="sidebar-div px-3" [ngStyle]="{
  'transform':
    currentLanguage === 'en' && isCollapsed === true ? 'translateX(-220px)' :
    currentLanguage === 'ar' && isCollapsed === true ? 'translateX(220px)' :
    ''
}">
  <div class="row d-flex justify-content-between logo-div px-3 mb-4"
    [ngStyle]="{ 'direction': currentLanguage==='en' ? 'rtl' : 'ltr' }">
    <div class="mt-3 menu-icon" (click)="toggleSidebar()">
      <img src="assets/image/menu-icon.png" alt="">
    </div>
    <div *ngIf="!isCollapsed" class="mt-2">
      <img src="assets/image/logo.png" style="width: 10rem;" alt="">
    </div>
    <div class="line-under-title mt-3" *ngIf="!isCollapsed"
      style="width: 100%; height: .2em;background-color: #fcfcfc;"></div>
  </div>

  <ul *ngIf="!isCollapsed" [ngStyle]="{ 'direction': currentLanguage==='en' ? 'rtl' : 'ltr' }">
    <li>
      <div>
        <i class="fa-solid fa-arrow-left-long" style="color: black;"></i>
      </div>
      <div class="d-flex">
        <a [routerLink]="['/first-form']" class="mx-2" [class.english-dir]="currentLanguage=='en'">
          {{'الأستمارة الأولي'|transloco}}</a>
        <div class="icon-container">
          <i class="fa-solid fa-tv"></i>
        </div>
      </div>
    </li>
    <li>
      <div>
        <i class="fa-solid fa-arrow-left-long" style="color: black;"></i>
      </div>
      <div class="d-flex">
        <a [routerLink]="['/second-form']" routerLinkActive="router-link-active" routerLinkActive="router-link-active"
          class="mx-2" [class.english-dir]="currentLanguage=='en'">{{'الأستمارة الثانية'|transloco}}</a>
        <div class="icon-container">
          <i class="fa-regular fa-newspaper"></i>
        </div>
      </div>
    </li>
  </ul>
</div>